.page-header
  %p{style: "color: green"}= notice

  %h1.mb-4 
    = "Listado"
    .float-right
      = link_to 'Nuevo Hopsital', new_hospital_path, class: "btn btn-primary"

%table.table.table-striped
  %thead
    %tr
      %th= t('application.name_of', model: t('activerecord.modules.hospital.one'))

  %tbody
    - @hospitals.each do |hospital|
      %tr
        %td= hospital.name
        %td= link_to  'mostrar', hospital, class: "btn btn-info"
        %td= link_to 'editar', edit_hospital_path(hospital), class: "btn btn-success"
        %td= link_to 'eliminar', hospital , method: :delete , class: "btn btn-danger",
          data: {confirm: "desea liminarlo",
          accept: "OK",
          reject: "Cancelar"}
