%div{:id => "#{dom_id doctor}"}
  %p
    %strong First name:
    = doctor.first_name
  %p
    %strong String,:
    = doctor.string,
  %p
    %strong Last name:
    = doctor.last_name
  %p
    %strong String,:
    = doctor.string,
  %p
    %strong Code:
    = doctor.code
  %p
    %strong Integer,:
    = doctor.integer,
  %p
    %strong Specialty:
    = doctor.specialty
  %p
    %strong Integer:
    = doctor.integer
