%div{:id => "#{dom_id doctor}"}
  %p
    %strong Fist name:
    = doctor.first_name
  %p
    %strong Last name:
    = doctor.last_name
  %p
    %strong Code:
    = doctor.code
  %p
    %strong Specialty:
    = doctor.specialty
