= form_for @doctor, validate: true do |f|
  .form-group.ml-4.mr-4
    = f.label :first_name, class: "form-label required"
    = f.text_field :first_name, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :last_name, class: "form-label required"
    = f.text_field :last_name, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :code, class: "form-label required"
    = f.number_field :code, autofocus: true, class: "form-control"
  
  .form-group.ml-4.mr-4
    = f.label :speciality, class: "form-label required"
    = f.select(:speciality, options_for_select(specialities, @doctor.speciality),
                        {prompt:"Seleccione"}, class: "form-control")

  .form-group.ml-4.mr-4
    = f.label :hospital_id, class: "form-label required"
    = f.select(:hospital_id, options_for_select(@hospitals, @doctor.hospital),
                        {prompt:"Seleccione"}, class: "form-control")


  .row
    .offset-3.col-3
      = link_to "Atrás", doctors_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag "Guardar", class: "btn btn-outline-success btn-block", 'data-disable-with': "Guardando"
