.div.m-4
  .page.header
    %p{:style => "color: green"}= notice
    %h1.mb-4
      =  t('application.list_of', model: t('activerecord.modules.doctors.other'))
      .float-right
        = link_to  t('application.new', model: t('activerecord.modules.doctors.one')), new_doctor_path, class: "btn btn-primary"
      .float-right.mr-2
        = link_to t('application.back'), "/", class: 'btn btn-primary'
  %table.table.table-striped
    %thread
      %tr
        %th= t("activerecord.attributes.doctor.first_name")
        %th= t("activerecord.attributes.doctor.last_name")
        %th= t("activerecord.attributes.doctor.code")
        %th= t("activerecord.attributes.doctor.specialty")
        %th= t("activerecord.attributes.doctor.hospital")
        %th
        %th
        %th
    %tbody
      - @doctors.each do |doctor|
        %tr
          %td= doctor.first_name
          %td= doctor.last_name
          %td= doctor.code
          %td= t("activerecord.attributes.doctor.specialties.#{doctor.specialty}")
          %td= doctor.hospital.name
          %td= link_to t('application.show'), doctor, class: "btn btn-info"
          %td= link_to t('application.edit'), edit_doctor_path(doctor), class: "btn btn-success"
          %td= link_to t('application.delete'), doctor, method: :delete, class: "btn btn-danger", data: {confirm: t('application.want_to_delete', model: t('activerecord.modules.doctor.one')), accept: t('application.accept'), reject: t('application.reject')}