.div.m-4
  %h1.mb-4
    = t("application.cruds_available")
.float-left.ml-4 
  = link_to   t("activerecord.modules.hospitals.first_upper_other"), hospitals_path , class: 'btn btn-primary'
.float-left.ml-4
  = link_to   t("activerecord.modules.doctors.first_upper_other"), doctors_path , class: 'btn btn-primary'
.float-left.ml-4
  = link_to   t("activerecord.modules.patients.first_upper_other"), patients_path , class: 'btn btn-primary'
.float-left.ml-4
  = link_to   t("activerecord.modules.appointments.first_upper_other"), appointments_path , class: 'btn btn-primary'